.top-banner{
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 2;
}
.spacer {
    flex: 1 1 auto;
  }
  .mat-elevation{
    box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
  }
  
  .btn-add:hover{
    color: rgb(0, 115, 0);
    outline: 2px solid black;
    font-weight: 600;
  }
.header-title span{
  color: white;
  font-size: 1.5em;
  font-family:'Courier New', Courier, monospace;
  font-weight: 400;
}

button{
  min-width: 18ch;
  margin-right: 1em;
  vertical-align: middle;
  font-size: .7em;
  text-transform: capitalize;
  
}
mat-icon{
  display: inline-block;
  margin-left: .2em;
  

}
 